<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181860219871-biv4o98pri51ot6qjvqopc06gb82kerl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181860219871-biv4o98pri51ot6qjvqopc06gb82kerl</string>
	<key>API_KEY</key>
	<string>AIzaSyCv8ktef5uCDLbZF1iJDYDdeA1t9SeTqMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>181860219871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travenor</string>
	<key>PROJECT_ID</key>
	<string>travaler-dbd9c</string>
	<key>STORAGE_BUCKET</key>
	<string>travaler-dbd9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181860219871:ios:4f238e2e8fe882811ba26a</string>
</dict>
</plist>